//- Add dom for messages when login fail
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login
    link(rel='stylesheet', href='/resource/css/structure/general.css')
    link(rel='stylesheet', href='/resource/css/login/login.css')
    script(src="/resource/javascript/login.js") 
    body 
        include ../../structure/navBar.pug
        //- 
        //- 
        .formWrapper
            form(id = "loginForm" name="loginForm") 
                label(for="formNameInput") User Name
                input(id="formNameInput",type="text", name="username",autocomplete="off", required)
                label(for="formPasswordInput") Password
                input(id="formPasswordInput",type="password", name="password",autocomplete="off", required)
                input(type="submit", value="Submit" )
        //- 
        include ../../structure/footer.pug
