doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Timetable Planner
    link(rel='stylesheet', href='/resource/css/structure/general.css')
    body 
        include ../../../structure/navBar.pug
        //- 
        //- 
        p This is Timetable Planner
        //- 
        include ../../../structure/footer.pug
