body{
    background-color: white;
    color: black;
    height: 100vh;
    overflow-y: auto;
    overflow-x: auto;
}
ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.no-select{  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#timetable-container{
    width:90%;
    height: 90vh;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    border: 0.2rem solid rgb(214, 214, 214);
    border-radius: 2%;
}
#timetable-container > *{
    padding-top: 1rem;
}

#left-panel{
    flex: 2;
    width: 30%;
}
#right-panel{
    flex: 8;
    width: 70%;
    display: flex;
    flex-direction: column;
}
#left-panel > *{
    padding-left: 0.5em;
}
#left-panel #search-bar input{
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
    border: 0em;
}
#left-panel #search-bar input:focus{
    /* remove outline focus */
    outline-width: 0; 
}
#left-panel #course-list-container{
    text-align: left;
}
#left-panel #course-list-container li{
    font-size: 1.2em;
    padding: 0.25em 0em;
}
/* #right-panel */
#right-panel #planner-menu{
    flex: 0 0 auto;
}
#right-panel #planner-sub-menu{
    flex: 0 0 auto;
}
#right-panel .planner-timetable{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
/* #right-panel #planner-menu */
#right-panel #planner-menu > *{
    padding: 0.2rem;
}
#right-panel #planner-menu #planner-menu-left{
    display:flex;
    justify-content: space-around;
}
#right-panel #planner-menu #planner-menu-right{
    display:flex;
    justify-content: space-around;
}
#right-panel #planner-menu #planner-menu-right li{
    margin-right: 2.5rem;
}
/* #right-panel #planner-sub-menu */
#right-panel #planner-sub-menu #planner-course-detail{
    display: none;
}
#right-panel #planner-sub-menu #planner-course-suggestion{

}
/* #right-panel #planner-sub-menu #planner-course-detail */
#right-panel #planner-sub-menu #planner-course-detail .title-container{

}
#right-panel #planner-sub-menu #planner-course-detail .detail-box-container{

}
#planner-course-detail-box-menu{
    display:flex;
}
#planner-course-detail-box-menu li{
    margin-right: 3rem;
}
#planner-course-detail-box-menu li:last-of-type{
    margin-left: auto;
}
/* #right-panel .planner-timetable */
#right-panel .planner-timetable .day-of-week {
    display: flex;
    flex: 0 0 auto;
}
#right-panel .planner-timetable .timetable {
    display:flex;
    flex: 1 1 auto;
}
/* #right-panel .planner-timetable .day-of-week */
#right-panel .planner-timetable .day-of-week li{
    width: 100%;
}
#right-panel .planner-timetable .day-of-week li > *{
    text-align: center;
    width: 100%;
}
#right-panel .planner-timetable .day-of-week li p{
    margin: 0.2rem 0rem;
}
#right-panel .planner-timetable .day-of-week li div span{
    color: lightslategray;
}
/* #right-panel .planner-timetable .timetable */
#right-panel .planner-timetable .timetable .time{
    width: fit-content;
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* #right-panel .planner-timetable .timetable  */
#timetable-grid{
    width: auto;
    flex: 7;
    display: flex;
}
/* #right-panel .planner-timetable .timetable .time*/
#right-panel .planner-timetable .timetable .time li{
    flex: 1;
    text-align: right;
    padding-right: 0.5rem;
}
/* #right-panel .planner-timetable .timetable  #timetable-grid*/
#timetable-grid div{
    flex:1;
    height: 100%;
    display: flex;
    flex-direction: column;
}