#navBar
    link(rel='stylesheet', href='/resource/css/structure/navBar.css')
    script(src="/resource/javascript/navBar.js") 
    each navBarItem in navBarList
        a(class=navBarItem.className, href=navBarItem.link) 
            = navBarItem.name