html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Timetable Planner Selector
    link(rel='stylesheet', href='/resource/css/structure/general.css')
    link(rel='stylesheet', href='/resource/css/school/timetable/timetableSelector.css')
    script(type="module" src="/resource/javascript/school/timetable/timetableSelector/timetableSelector.js")
    body
        .selectorWrapper 
            p Select School from below or create a general planner
            p This Application is still underdevelopment
            .schoolListWrapper 
                ul#schoolList 
                    for _school in availableSchool 
                        li=_school
