-var timetableTime = ['8 am','9 am','10 am','11 am','12 pm','1 pm','2 pm','3 pm','4 pm','5 pm','6 pm','7 pm','8 pm','9 pm','10 pm']
-var semesterName = '2022-2023 Fall'
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Timetable Planner
    link(rel='stylesheet', href='/resource/css/structure/general.css')
    link(rel='stylesheet', href='/resource/css/school/timetable/timetable.css')
    body 
        include ../../../structure/navBar.pug
        //- 
        //- 
        #timetable-container.no-select
            #left-panel
                #search-bar
                    input(class="search-course", type="text", placeholder="Search course")
                #course-list-container
                    ul#main-selector-list
                        li#collection-selector.heading.full-width Collection
                        li#favorite-selector.icon-favorites.full-width Favorites
                        li#plan-selector.icon-plan.full-width Plan
                        li#subject-selector.heading.full-width Subject
                        for dept in deptList
                            li.dept(onclick='selectDept("'+dept+'")')= dept
                    ul#course-selector-list
                        li.back-button.full-width(onclick='courseListBack()') Back
            #right-panel
                #planner-menu
                    ul#planner-menu-left 
                        li.semester= semesterName
                        li.table-dropdown TableName
                    ul#planner-menu-right
                        li.button.add-constraint Add Time Constraint
                        li.button.suggest-timetable Suggest Timetables 
                        li.button.other-section Other Sections 
                        li.credits 0 credits
                #planner-sub-menu
                    #planner-course-detail
                        .title-container 
                            span#planner-course-detail-id-name.id-name title
                            span#planner-course-detail-name.name ------long name-----
                            span#planner-course-detail-tag.tag tag
                        #planner-course-detail-box-container.detail-box-container
                        ul#planner-course-detail-box-menu 
                            li.button.add('onclick'='timetable.addSelectedSectionToDisplay()') Add 
                            li.button.remove Remove
                            li.button.swap Swap
                            li.button.cancel('onclick'='timetable.setDetailDiv(false)') Cancel
                    #planner-course-suggestion
                    //- TODO selector
                .planner-timetable 
                    ul.day-of-week
                        li.empty
                            span
                        for day_of_week in ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
                            li
                                p=day_of_week
                                div
                                    span.day-of-week-hour 0.0 hours
                    .timetable 
                        ul.time
                            for time in timetableTime
                                li=time
                                li.empty
                        #timetable-grid
                            - var i = 0;
                            while i < 7
                                div(class=i > 4 ? 'weekend' : '')
                                    - var j = 0;
                                    //- 15 hrs 0800--2200
                                    while j < 15 * 2 
                                        div
                                        - j++
                                - i++


        //- 
        include ../../../structure/footer.pug
