doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home Page
    link(rel='stylesheet', href='/resource/css/structure/general.css')
    script(src="/resource/javascript/login.js") 
    body 
        include ../../structure/navBar.pug
        //- 
        //- 
        form(id = "loginForm" name="loginForm") 
            input(type="text", name="name",autocomplete="off", required)
            input(type="password", name="password",autocomplete="off", required)
            input(type="submit", value="Submit" )
        //- 
        include ../../structure/footer.pug
