.formWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
    

#loginForm input{
    background-color: rgb(230, 230, 230);
    /* border:0; */
    width:100%;
}
#loginForm input:focus-visible{
    /* outline: none; */
}
#loginForm input[type=submit]{
    margin:auto;
    width:50%;
}